{% extends "network/layout.html" %}

{% block body %}


    {% if user.is_authenticated %}
<h3 style="text-align: center; margin-top: 10px; padding-top: 20px; color: rgb(75, 75, 75); font-family: sans-serif;">{{user.username}}</h3>
<h5 style="text-align: center;  color: rgb(75, 75, 75); font-family: sans-serif;">{{user.email}}</h5>
{% if request.user != user %}
<nav class="follow" style="display: flex;justify-content: center; ">
  <p><b>Following:</b>{{following.count}}</p>
  <p><b>Followers:</b>{{follower.count}}</p>
  

</nav>
<div style="display: flex;justify-content: center;">
{% if check %}
<form method="post" action="{% url 'unfollow' userid=user.id   unfollowerid=request.user.id  %}">
  {% csrf_token %}
  <button style="background-color: red;" class="button-3" name="unfollow" type="submit">Unfollow</button>
  
</form>

{% else%}
<form method="post" action="{% url 'follow' userid=user.id   followerid=request.user.id %}">
  {% csrf_token %}
  <button class="button-3" name="follow" type="submit">Follow</button>
  
</form>

{% endif %}
</div>
{% else %}

<nav class="follow" style="display: flex;justify-content: center; ">
  <p><b>Following:</b>{{following.count}}</p>
  <p><b>Followers:</b>{{follower.count}}</p>
  

</nav>
{% endif %}
{% for post in page_posts %}
    
<div class="post" style=" border-radius: 5px; margin: 20px; padding: 10px; border: 2px silver solid ; box-shadow: 0px 2px 5px grey; width: 600px; margin-left: auto; margin-right: auto; text-align: center;">
    <h4 style="text-align: left; display: flex;"><a href="{% url 'profile' id=post.user.id %}"><b>{{post.user}}</b></a><p style=" align-items: center; margin-left: 5px; margin-top: 9px; font: 0.6em sans-serif;">{{post.user.email}}</p></h4>
    <p style="text-align: left;">{{post.content}}</p>
    <p style="text-align: right; margin-top: 40px;">{{post.datetime}}</p>
    <nav style=" padding-top: 10px; padding-bottom: 0px; border-top: 2px silver solid; display: flex; justify-content: space-around;">
      {% if post.id in checks %}
    <a class="likeaction" href="{% url 'unlike' postid=post.id userid=request.user.id  %}" > <i style="align-items: center; margin-right: 5px;" onclick="myFunction(this)" class="fa fa-thumbs-down"></i>unlike</a>
    {% else %}
    <a class="likeaction" href="{% url 'like' postid=post.id userid=request.user.id  %}" >
      <!-- Use an element to toggle between a like/dislike icon -->
      <i style="align-items: center; margin-right: 5px;" onclick="myFunction(this)" class="fa fa-thumbs-up"></i>like</a>
    {% endif %}
    <p>edit</p></nav>
</div>
{% endfor %}
    <nav style="text-align: center; display: flex; justify-content: center; margin-top: 40px;" aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{page_posts.previous_page_number}}">Previous</a></li>
          {% else %}
          {% endif %}
          {% if page_posts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{page_posts.next_page_number}}">Next</a></li>
          {% else %}
          {% endif %}
        </ul>
      </nav>
    {% else %}
    <h6>You should log in first <a href="{% url 'login' %}">login</a></h6>
    {% endif %}


{% endblock %}